
footer {
    background-color: #46bedd;

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .formulario{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    
    h2 {
        color: white;
        font-family: $font-secondary;
    }
    
    .redes {
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .conoceme {
        display: flex;
    }


}


