// .trayectoria-container {
//     display: grid;
//     grid-template-rows: (2, 10em);
//     gap: 2em;
    
//     main {
//         display: flex;
//         flex-direction: column;
//         color: white;
//         font-family: $font-primary;
//     }
// }


    .trayectoria-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        articule{
            p{
                padding: map-get($paddings , medium);
            }
        }
    }


            

        
