<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Talleres</title>
</head>

<body>
    <div class="talleres-container">
        <header>
            <nav class="navbar">
                <picture class="logo">
                    <a class="logo" href="../index.html"><img class="nav__logo--logo " src="../public/img/pnl.png"
                            alt="logosofiapnl"></a>
                </picture>
                <ul class="menu">
                    <li class="menu__item"><a href="../view/conoceme.html" class="menu__link">Conoceme</a></li>
                    <li class="menu__item"><a href="../view/trayectoria.html" class="menu__link">Trayectoria</a></li>
                    <li class="menu__item"><a href="../view/talleres.html" class="menu__link">Talleres</a></li>
                    <li class="menu__item"><a href="../view/contacto.html" class="menu__link">Contacto</a></li>
                </ul>

            </nav>
        </header>
        <main>
            <h1>Reconoce y transforma tu herida de la infancia</h1><br>

            <p>
                Independientemente de la edad que tengas al leer esto, tu niña/niño interior habita dentro de ti y
                está
                esperando que vuelvas a conectar con ella/él para resolver todos aquellos pendientes que quedaron
                abiertos en forma de herida, hace unos años.

                Este Taller tiene un propósito muy especial para tu proceso de Sanación.
                A continuación te comparto detalle:

                Totalmente vivencial y se dejarán ejercicios y actividades para realizar continuamente después de
                realizar el taller.

                Garantizamos que usted no será la misma persona después del encuentro con su niño/niña interior.
            </p>



            <table border="1px" cellpadding="5px">
                <tr>
                    <th>Contenido</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Termino</th>
                    <th>Contenido</th>
                </tr>
                <tr>
                    <td>Temario</td>
                    <td>20/02/2022</td>
                    <td>28/02/2022</td>
                    <td>
                        <ol>
                            <li>Qué es una herida emociona</li>
                            <li>Quién es mi niño/niña interior.</li>
                            <li>Herida de Rechazo</li>
                            <li>Herida de Abandono</li>
                            <li>Herida de Humillación </li>
                            <li>Herida de Traición</li>
                            <li>Herida de Injusticia</li>
                            <li>Cuál es la principal herida de mi niño/niña interior.</li>
                            <li>Dónde se deriva la herida </li>
                            <li>Comportamientos generados de Adulto</li>
                            <li>Toma de conciencia</li>
                            <li>Liberación</li>
                        </ol>
                    </td>
                </tr>

            </table><br><br>


            <img src="../public/img/oso.jpg" style="width: 400px" alt="">




        </main>

        <footer class="conoceme">
            <p>Copyright ©2022 by Sofia Mora</p>
        </footer>
    </div>
</body>

</html>